.card div.imgCard {
    position: relative;
}

.card img.imgCard {
    width: 100%;
    object-fit: cover;
}

.card div.showHide {
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    padding: 5%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.card div.imgCard:hover div.showHide {
    visibility: visible;
    opacity: 1;
}

.card div.multiImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.card div.multiImg > .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card img.multiImg {
    width: 40%;
    height: 40%;
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;

    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.4);
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.4s;
}

.card img.multiImg:hover {
    opacity: 1;
}

.card div.desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card span.desc {
    padding: 1.5rem;
    color: var(--card-desc-fontColor);
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card div.download {
    width: 100%;
    height: 66px;
    background-color: var(--cardDownload);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card button.download {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    background-color: var(--cardDownload);
    border: 2px solid var(--basic);
    border-radius: 8px;

    cursor: pointer;
    padding: 0.3rem 0.6rem;

    transition: background-color 0.1s ease-out;
}

.card span.download {
    text-transform: capitalize;
    font-size: small;
    font-weight: 500;
}

.card i.download {
    color: var(--basic);
}

.card button.download:hover {
    background-color: var(--basic);
}

.card button.download:hover span.download,
.card button.download:hover i.download {
    color: white;
}
