div.product.page {
  display: flex;
  justify-content: center;

  padding-top: 5vh;
}

div.product.container {
  box-sizing: border-box;
  width: calc((100vw - 150px) * 0.8);
  max-width: 700px;
  padding: 20px;
  height: fit-content;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(251, 251, 251);
}

div.product.page div.imagePdescDownload {
  display: flex;
  gap: 20px;
}

div.product.page div.image {
  border-radius: 10px;
  overflow: hidden;
  width: 390px;
}

div.product.page .image-index {
  box-sizing: border-box;
  overflow: hidden;
  object-fit: contain;
  width: 100%;
}

div.product.page div.descAndDownload {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 18vw;
  /* max-width: 250px; */
}

div.detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

div.d-wrapper {
  display: flex;
  gap: 5px;
}

span.d-label {
  box-sizing: border-box;
  width: 80px;
  text-transform: capitalize;
  color: #999;
}

span.d {
}

div.product.page div.listOfImages {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
}

@media only screen and (min-width: 768px) {
  div.product.page div.imagePdescDownload {
    flex-direction: row;
  }
}

@media only screen and (max-width: 576px) {
  div.product.page div.imagePdescDownload {
    flex-direction: column;
    align-items: center;
  }

  div.product.page div.image {
    box-sizing: border-box;
    width: 100%;
  }

  div.product.container {
    max-width: 80vw;
  }
}
