@media only screen and (max-width: 768px) {
    div.container.sidebar {
        display: none;
    }
}

div.home {
    display: flex;
}

div.container.sidebar {
    flex: 2;
}
div.container.main {
    flex: 10;
}

div.page > div.container {
    padding-top: 2vh;
}
