@media only screen and (max-width: 767px) {
    div.container.sidebar {
        display: none;
    }

    div.page.home {
        justify-content: center;
    }

    div.container.main {
        margin: 10px 20px 0 20px;
    }
}

@media only screen and (min-width: 767px) {
    div.sidebarOptions {
        display: none;
    }

    div.container.main {
        margin: 10px 20px 0 calc(var(--width-Sidebar) + 20px);
    }
}

div.page.home {
    display: flex;
}

div.container.main {
    box-sizing: border-box;
    flex: 1;
}

div.sidebar.container {
    width: var(--width-Sidebar);
    height: 90vh;
    position: fixed;
    overflow: auto;
}
